<!--Edit this template with a custom prompt screen. You can assume the user is
    going to agree and start the experiments, or disagree and not.-->
<div>
<audio src="{{ url_for('static',filename='sounds/cmartin.mp3') }}" controls></audio>
<p><strong>Bonjour, je m’appelle Martin</strong></p>
<p>Accompagne moi au zoo pour entendre et observer les animaux avec des mini jeux!</p>
<p>Tu devras être attentif aux consignes et bien faire ce qui est demandé dans chaque mini jeu.</p>

<p>Tu pourras appeler ton professeur pour lui poser des questions si à certains moments tu te sens perdu.</p>
</div>
