{% extends "base.html" %}

{% block content %}
    <div class="modal-body">
        {% include "routes/entry_message.html" %}

        <br>
        <form action="/login" method="POST" name='form'>
            {{ form.hidden_tag() }}

            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

            <div class="form-group">
                <input id='token'
                        type="text"
                        class="form-control"
                        name='token'
                        placeholder="Ton identifiant">
            </div>

            {% for error in form.token.errors %}
                <span class="error-token">[{{ error }}]</span>
            {% endfor %}

            {% if message %}
                <span class="form-message">[{{ message }}]</span>
            {% endif %}

            <div class="modal-footer">
                <button type="submit"
                        class="btn btn-default js-btn-step"
                        data-orientation="next">Commencer</button>
            </div>
        </form>
    </div>
{% endblock %}
