<!--Edit this template with a custom screen with instructions for finishing
    the assessment. -->

<p><strong>Bien joué !</strong></p>
<p>Tu as fini tous les jeux pour aujourd'hui.<br />Merci d'être venu visiter le zoo!</p>
