/* Stage- Bootstrap one page Event ticket booking theme
Created by pixpalette.com - online design magazine */
@charset "utf-8";

/* fonts and type */
@font-face {
    font-family: "Fira-sans";
    font-weight: 400;
    src: url('../fonts/FiraSans-Regular.woff2');
}

@font-face {
    font-family: "Fira-sans";
    font-weight: 700;
    src: url('../fonts/FiraSans-Bold.woff2');
}

@font-face {
    font-family: "Fira-sans";
    font-weight: 2900;
    src: url('../fonts/FiraSans-Light.woff2');
}

/* CSS Document */
html, body {
	font-family: 'Fira-sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
}

/* common style's */

.expfactory-blue { color: #1757e8}
.expfactory-red { color: #a52a2b}
.expfactory-gold { color: #e9ab17}

a {
  color: #7447ae;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 24px;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

/* button style */
.btn, .btn.disabled {
    background: #f44336;
    color: #ffffff;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 30px;
    box-shadow: none;
	text-transform: uppercase;
}

.btn:hover {
    background: #e53935;
	color: #ffffff;
    box-shadow: none;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    opacity: .5;
}

/* form style */
label {
    font-weight: 400;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.form-control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    max-width: 20rem;
    height: 2rem;
    font-size: 18px;
    border: 0;
    border-radius: 0px;
    padding: .5rem 1rem;
    box-shadow: none;
    font-weight: 300;
    text-align: center;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.form-control:focus {
    border-color: #666666;
    outline: 0;
    box-shadow: none;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}


/* loader */
.loader{
    position: fixed;
    color: white;
    background: #ffffff;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.loader > div {
    text-align: center;
    margin: 0px auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.left-wrapper, .right-wrapper {
    padding-right: 0px;
    padding-left: 0px;
}

/* event banner css */
.event-banner-wrapper {
	position: fixed;
    width: 41.66666667%;
    height: 100%;
    padding: 20px;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.logo h1 {
    font-family: 'Fira-Sans', sans-serif;
    position: absolute;
    color: #ffffff;
    font-size: 28px;
    font-weight: 300;
    margin: 0;
    top: 20px;
    left: 20px;
}

.event-banner-wrapper h2 {
    position: absolute;
	font-family: 'Fira-Sans', sans-serif;
	font-size: 4vw;
    font-weight: 900;
	line-height: 4.5vw;
	color: #fff;
    margin: 0;
    bottom: 30px;
}

.event-banner-wrapper h2 span {
    display: block;
    text-transform: uppercase;
    font-size: 1.5vw;
}

.event-banner-wrapper p {
    position: absolute;
    font-family: 'Fira-Sans', sans-serif;
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    margin: 0;
    bottom: 15px;
}

.event-banner-wrapper p a {
	color: #fff;
}

.event-banner-wrapper p a:hover {
	border-bottom: 1px solid #fff;
}

/* event ticket css */
.event-ticket-wrapper{
    padding: 40px;
}

.event-tab .nav-tabs {
	position: fixed;
	top: 0;
	left: 41.66666667%;
	background: #fff;
	width: 58.33333333%;
	border-bottom: 0;
    padding: 20px 40px;
	margin-bottom: 30px;
    z-index: 99;
}

.event-tab .nav-tabs > li > a {
    font-size: 18px;
	color: rgba(0, 0, 0, 0.28);
    margin-right: 30px;
    padding: 5px 0px;
    text-transform: uppercase;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.event-tab .nav-tabs > li.active > a,
.event-tab .nav-tabs > li.active > a:hover,
.event-tab .nav-tabs > li.active > a:focus,
.event-tab .nav-tabs > li > a:hover,
.event-tab .nav-tabs > li > a:focus {
	background: transparent;
    color: #000000;
    border: 1px solid transparent;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.event-tab .tab-content {
    margin-top: 45px;
}

.event-tab .tab-content .tab-pane {
    margin-bottom: 30px;
}

.ticketBox {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.04);
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    border-radius: 4px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.08);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.ticketBox:hover {
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.inActiveTicket .inactiveStatus {
    background: rgba(248, 248, 248, 0.68);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 11;
	transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.ticketBox .ticket-name span {
    color: #666;
    display: block;
    font-size: 14px;
    font-weight: 400;
}

.ticketBox .ticket-price-count-box .price {
	margin: 0;
    color: #000000;
    font-weight: 600;
    float: right;
    width: 100%;
    text-align: right;
}

.ticketBox .ticket-price-count-box .ticket-control {
	float: right;
    width: 120px;
}

.ticketBox .ticket-price-count-box .ticket-control .form-control {
	width: 50px;
    font-weight: 600;
    text-align: center;
    border: 0;
    box-shadow: none;
    display: inline-block;
    pointer-events: none;
    font-size: 20px;
    margin: 0px 4px;
    background: transparent;
}

.ticketBox .ticket-price-count-box .ticket-control .input-group .input-group-btn button {
    display: inline-block;
    border: 0px solid rgba(0, 0, 0, 0.12);
    padding: 10px;
    width: 32px;
    text-align: center;
    border-radius: 50%;
    font-weight: 600;
    color: #000000;
    font-size: 9px;
    background: rgba(0, 0, 0, 0.09);
	box-shadow: none;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.ticketBox .ticket-price-count-box .ticket-control .input-group .input-group-btn button:hover,
.ticketBox .ticket-price-count-box .ticket-control .input-group .input-group-btn button:focus {
	outline: none;
	background: rgba(0, 0, 0, 0.15);
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.ticketBox .ticket-description {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    padding-top: 15px;
}

.ticketBox .ticket-description p {
	font-size: 14px;
    font-weight: 400;
    color: #666;
}

.ticketBox .ticket-description p strong {
    font-weight: 600;
    color: #000;
    font-size: 16px;
}

/* map iframe */
iframe {
	width: 100%;
	border: 0;
}

/* cart style */
.cart {
    padding: 20px 40px;
    background: #fff;
    margin-bottom: 0;
    position: fixed;
    left: 41.66666667%;
    bottom: 0;
    width: 58.33333333%;
    z-index: 99;
}

.cart p {
	color: #000;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    margin-top: 8px;
}

.cart p .divider {
    border-right: 2px solid #ccc;
    padding-left: 15px;
    margin-right: 15px;
}

/* cart ticket details */
.cart-information {
	margin-bottom: 30px;
    color: #000;
}

.cart-information .ticket-type {
	font-size: 18px;
    margin-bottom: 15px;
    font-weight: 600;
}

.cart-information .ticket-type span {
    font-size: 14px;
    line-height: 18px;
    display: block;
    font-weight: 400;
    color: #666;
}

.cart-information ul {
	margin: 0;
	padding: 0;
}

.cart-information ul li {
    list-style-type: none;
    font-size: 18px;
    margin-bottom: 4px;
}

.cart-information ul li span {
    float: right;
}

.cart-information ul li span.totalAmount {
    font-weight: 600;
}

.cart-information hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

/* contact form style */
.contactForm h3 {
	font-size: 18px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 600;
}

.contactForm .btn {
	width: 100%;
}

/* side modal style */
.modal-content {
    border-radius: 0;
}

.modal-header {
    padding: 20px 30px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-title {
    text-transform: uppercase;
}

.modal .close {
    opacity: 0.4;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.modal .close:hover {
    opacity: 0.4;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 350px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
		border: 0;
	}

	.modal.right .modal-body {
		padding: 30px;
	}

	.modal.right.fade .modal-dialog {
		right: -320px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}

	.modal.right.fade.in .modal-dialog {
		right: 0;
	}

/* media query for tab */
@media (max-width: 767px) {
    .event-banner-wrapper {
        position: relative;
        width: 100%;
        height: 300px;
        padding: 15px;
    }

    .event-banner-wrapper h2 {
        font-size: 38px;
        line-height: 38px;
    }

    .event-banner-wrapper h2 span {
        font-size: 16px;
    }

    .event-ticket-wrapper {
        padding: 20px;
    }

    .event-tab .nav-tabs {
        margin-bottom: 10px;
        position: relative;
        top: 0;
        left: 0;
        padding: 0;
        width: 100%;
    }

    .event-tab .tab-content {
        margin-top: 20px;
    }

    .cart {
        padding: 15px;
        background: #fff;
        margin-bottom: 0;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 99;
    }

}

/* media query for Mobile */
@media (max-width: 480px) {

    .modal.left .modal-dialog, .modal.right .modal-dialog {
        width: 100%;
    }

    .event-tab .nav-tabs > li > a {
        font-size: 16px;
        margin-right: 0;
        padding: 2px 0px;
    }

    .event-tab .nav-tabs > li {
        width: 100%;
    }

    .cart p {
        font-size: 16px;
        margin: 0;
    }

    .cart p .divider {
        border-right: 0px;
        padding-left: 0;
        margin-right: 0;
        display: block;
    }
}


/* BIATTLONG */
.container-flex {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.modal-body {
    --player-size: 8rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 40rem;
    padding: 2rem !important;
    background-color: #efefef;
    text-align: center;
    align-self: center;
}

.modal-body::before {
    content: url("../img/player.svg");
    position: absolute;
    left: -7rem;
    bottom: -.5rem;
    width: var(--player-size);
    height: var(--player-size);
}

.modal-body::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 3rem;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #efefef;
    border-left: 0;
    border-top: 0;
    margin-top: -10px;
    margin-left: -20px;
}

.modal-body > div {
    max-width: 25rem;
    margin: 2rem auto;
}

.form-message,
.error-token {
    display: inline-block;
    margin: .5rem auto;
    color: crimson;
}
