<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>The Experiment Factory</title>

        <link rel="icon" type="image/png" href="{{ url_for('static',filename='img/favicon.ico') }}">
        <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" />
        <!--<link href="https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">-->

        {% block head %}
        {% endblock %}

    </head>
    <body>
        <div class="loader">
            <div>
                <img src="{{ url_for('static',filename='img/icons/preloader.gif') }}" />
            </div>
        </div>

      <div class="container-fluid container-flex">
      {# include "main/messages.html" #}
      {% block content %}
      {% endblock %}
      </div>

      <script src="{{ url_for('static',filename='js/jquery-1.11.3.min.js') }}"></script>
      <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
      <script>
      $(window).load(function() {
          $(".loader").fadeOut("slow");
      });
      </script>
      {% block scripts %}
      {% endblock %}
      </body>
</html>
